/* ABOUT US  */
#about {
  margin: 5px auto 10px auto;
  width: 95%;
}
#about-us-title {
  color: #49c549;
  font-size: 24px;
  font-weight: bolder;
  margin-top: 15px;
}
.about-us-main {
  display: flex;
  flex-direction: column;
}
.left-aside {
  display: block;
  flex: 40%;
  flex-direction: column;
}
.right-aside {
  align-items: center;
  display: flex;
  flex: 60%;
  flex-direction: column;
  justify-content: center;
}
.right-aside p {
  align-items: center;
  display: flex;
  width: 90%;
}
.earth,
.rocket {
  height: 30px;
  max-width: 100%;
  width: 30px;
}
.brand {
  font-size: 30px;
  font-weight: bold;
  word-spacing: 0.5rem;
}
#horizontal-line {
  margin: 10px 0 10px;
}
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}
.feature {
  align-items: center;
  display: flex;
}
.feature h2 {
  font-size: 24px;
  font-weight: 300;
  margin-left: 5px;
}
#more-btn {
  background-color: #4fd44f;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  margin: 5px;
  font-weight: 700;
  padding: 1rem;
}
.flow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flow article {
  display: flex;
  flex: 25%;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
}
.flow article img {
  margin-right: 5px;
  margin-top: 20px;
}
.flow article div {
  align-items: left;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.learn-more {
  color: black;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
}

@media (min-width: 576px) {
  .about-us-main {
    flex-direction: row;
  }
}
