/* Contact Us  */
#contact-us {
  background-image: url(../assets/world-map.png);
}
.contact-heading {
  align-items: center;
  color: #3fad3f;
  display: flex;
  font-weight: 500;
  justify-content: center;
  margin: 10px 0 5px 5px;
}
.contact-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-left-aside {
  align-items: center;
  display: flex;
  justify-content: center;
}
.input-form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: 70%;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin-top: 5px;
  max-width: 100%;
  width: 80%;
}
.inputs {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.contact-info {
  display: flex;
  justify-content: center;
}
.inputs input {
  height: 2rem;
  margin: 1rem;
  width: 100%;
}
.inputs p {
  display: none;
}
.contact-info tr,
td {
  padding: 0.5rem;
}
.msg,
.call {
  height: 30px;
  max-width: 100%;
  width: 30px;
}
#send-msg {
  align-items: center;
  background-color: #28be28;
  border-radius: 20px;
  display: flex;
  height: 35px;
  justify-content: center;
  width: 70%;
}

@media (min-width: 576px) {
  #contact-us {
    margin : 0 auto 0 auto;
    width: 90%;
  }
  .contact-main {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .contact-heading {
    justify-content: flex-start;
  }

  .inputs {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 0;
    width: 100%;
  }
  .inputs {
    column-gap: 1.5rem;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    margin: 5px 0 5px 0;
    width: 90%;
  }
  #message {
    height: 6rem;
    width: 210%;
  }
  #send-msg {
    align-self: flex-start;
    margin-left: 15%;
    width: 150px;
  }
}

@media (min-width: 1080px) {
  .contact-main {
    justify-content: space-between;
  }
  .inputs {
    column-gap: 7rem;
    width: 100%;
  }
  .inputs input {
    height: 2rem;
    margin: 1rem;
    width: 130%;
  }
  #message {
    width: 285%;
  }
}
