/* DIGITAL TEAM  */
#digital-team {
  align-items: center;
  background-image: url(../assets/violet-background.jpg);
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
#digital-title {
  display: flex;
  font-size: 20px;
  font-weight: 100;
  justify-content: center;
  margin-top: 20px;
}
#digital-info {
  align-items: center;
  display: flex;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}
.cards-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0 25px;
}
.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  white-space: normal;
}
.card-img {
  border: 1px solid black;
  height: 250px;
  margin: 25px;
  width: 250px;
}
.name {
  font-size: 22px;
  font-weight: bold;
}
.role {
  font-size: 14px;
  font-weight: 100;
}
