.nav-bar {
    display: flex;

}

.home-icon {
    display: flex;
    font-size: 24px;
    flex: 50%;
    font-weight: 900;
    margin: 0 0 0 1rem;
    padding: 1rem;
    color: white
}

.links {
    display: flex;
    flex: 50%;
    justify-content: space-between;
    padding: 1rem;
    text-align: justify;
    text-emphasis-color: white;
}

.links > a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    padding: 0.5rem
}

.link {
    text-decoration: none;
    color: white;
}

#search {
    width: 30px;
    height: 20px;
    max-width: 100%;
    height: auto;
}

.content {
    display: none;
    position: absolute;
    margin-top: 1rem;
}


.content a{
    padding: 0.5rem;
}

.content a:hover{
    background-color: green;
    color: white
}


#dropdown {
    padding: 0.5rem;
    color: white
}
#dropdown:hover .content {
    display: flex;
    flex-direction: column;
}

#landing-page {
    background-image: url(../assets/green-sand-paper.jpg);
    width: 100%;
    height: 95vh;
    margin-top: 1em;
}

.ham-icon {
    display: none;
}

.main-content {
    display: flex;
    width: 50%;
    margin: 10% auto 0% auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
}

.info-btns{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}



.template-para {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    font-weight: 100;
}

#learn-more, #get-it-now{
    border-radius: 50px;
    padding: 0.8rem;
    margin: 1rem;
    background: transparent;
    border: 2px solid white;
    color:white;
    font-weight: 700;
}

#learn-more:hover, #get-it-now:hover {
    background-color: white;
    color: rgb(79, 212, 79);
}


@media only screen and  (max-width: 920px){
    .links {
        display: none;
    }

    .ham-icon {
        display: flex;
        flex:50%;
        height: 50px;
        max-width: 100px;
        justify-content: flex-end;
    }

    .subscribe {
        display: flex;
        flex-direction: column;
        
    }

    #input-email {
        width: 100%;
        margin-bottom: 20px;
    }

}


/* ABOUT US  */

#about {
    width : 95%;
    margin: 1rem auto 2rem auto;
}

#about-us-title {
    color: rgb(73, 197, 73);
    font-size: 24px;
    font-weight: bolder;
    margin-top: 3rem;
}

.about-us-main {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.left-aside {
    display: block;
    flex: 40%;
    flex-direction: column;
}

.right-aside {
    display: flex;
    flex: 60%;
    /* margin: 1rem 0 0 2rem; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.right-aside p {
    display: flex;
    width: 90%;
    align-items: center;
}

.earth , .rocket {
    height: 30px;
    width: 30px;
    max-width: 100%;
}

.brand {
    font-size: 30px;
    word-spacing: 0.5rem;
    font-weight: bold;
}

#horizontal-line {
    margin: 2rem 0 2rem;
}

.features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}

.feature {
    display: flex;
    align-items: center;
}

.feature h2 {
    font-size: 24px;
    font-weight: 300;
    margin-left: 1rem;
}

#more-btn {
    border-radius: 50px;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid white;
    color:white;
    font-weight: 700;
    background-color: rgb(79, 212, 79);

}

.flow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flow article  {
    flex :25%;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flow article img {
    margin-top : 20px;
    margin-right: 5px;
}

.flow article div {
    align-items: left;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.learn-more {
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
}

/* NEWSLETTERS */

.newsletters {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/sky-image.jpg);
    flex-direction: column;
    margin: 5rem 0 5rem;
    padding: 2rem;
    max-width: 100%;
}

.newsletters p {
    width: 50%;
}

.subscribe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#input-email {
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.5rem;
    margin-right: 1rem;
    display: flex;
}

#subscribe-btn {
    border: 1px solid white;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: white;
    color: rgb(63, 173, 63);
}

#subscribe-btn:hover {
    background-color: rgb(63, 173, 63);
    color:white;
}


/* PROJECTS */
#projects {
    margin-bottom: 5rem; 
}
#project-heading {
    color:  rgb(63, 173, 63);
    font-weight: 500;
    margin-left: 1rem;
}

.project-content {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    flex-wrap: wrap;
}

.project-list {
    display: flex;
    flex: 20%;
    flex-direction: column;
    margin-bottom: 1rem;
}

#list-of-projects {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    list-style: none;
    margin-bottom: 1rem;
}

#list-of-projects li {
    padding-bottom: 2rem;
    margin-left: 1rem;
}

#list-of-projects li:hover {
    color: green;
}

.project-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 80%;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.project-photos img {
    border: 1px solid black;
    width: 240px;
    height: 200px;
    margin: 1rem;
    text-align: center;
}


/* DIGITAL TEAM  */

#digital-team {
    background-image: url(../assets/violet-background.jpg);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin-bottom: 5rem;
}

#digital-title {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    font-weight: 100;
    font-size: 20px;
}

#digital-info {
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-direction: row;
    margin: 2rem 0 5rem;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    white-space: normal;

}

.card-img {
    border : 1px solid black;
    width: 250px;
    height: 250px;
    margin: 25px;
}

.name {
    margin-top: -0.2rem;
    font-weight: bold;
    font-size: 22px;
}

.role {
    margin-top: -0.7rem;
    font-weight: 100;
    font-size: 14px;
}


/* Contact Us  */

#contact-us {
    background-image: url(../assets/world-map.png);
}

#contact-heading {
    color:  rgb(63, 173, 63);
    font-weight: 500;
    margin-left: 1rem;
}

.contact-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inputs {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    row-gap: 2rem;
    margin-bottom: 2rem;
}

