/* LANDING PAGE */
#landing-page {
  background-image: url(../assets/green-sand-paper.jpg);
  height: 100vh;
  max-width: 100%;
}
.nav-bar {
  display: flex;
}
.home-icon {
  color: white;
  display: flex;
  font-size: 24px;
  flex: 50%;
  font-weight: 900;
  margin: 0 0 0 1rem;
  padding: 1rem;
}
.links {
  display: none;
}
.ham-icon {
  display: flex;
  flex: 50%;
  height: 50px;
  justify-content: flex-end;
  max-width: 100px;
}
.main-content {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 100px auto 0 auto;
  padding: 10px;
  width: 70%; 
}
.info-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.welcome-title {
  text-align: center;
}
.template-para {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
  font-weight: 100;
  text-align: center;
}
#learn-more,
#get-it-now {
  background: transparent;
  border: 2px solid white;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 700;
  margin: 5px;
  padding: 5px;
}
#learn-more:hover,
#get-it-now:hover {
  background-color: white;
  color: #4fd44f
}

@media (min-width: 576px) {
  .ham-icon {
    display: none;
  }
  .nav-bar {
    flex-direction: column;
  }
  .home-icon {
    justify-content: center;
  }
  .links {
    align-items: center;
    display: flex;
    flex: 50%;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    text-emphasis-color: white;
  }
  .links > a {
    color: white;
    font-weight: 100;
    padding: 5px;
    text-decoration: none;
  }
  .link {
    color: white;
    text-decoration: none;
  }
  #search {
    background-color: white;
    height: auto;
    max-width: 100%;
    width: 30px;
  }
  .content {
    display: none;
    margin-top: 10px;
    position: absolute;
  }
  .content a {
    padding: 5px;
  }
  .content a:hover {
    background-color: green;
    color: #fff;
  }
  #dropdown {
    color: white;
    padding: 5px;
  }
  #dropdown:hover .content {
    display: flex;
    flex-direction: column;
  }
  .main-content {
    margin-top: 5rem;
  }
}

@media (min-width: 768px) {
  /* LANDING PAGE  */
  .home-icon {
    color: white;
    display: flex;
    flex: 30%;
    font-size: 30px;
    font-weight: 900;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 1rem;
  }    
  .links {
    display: flex;
    flex: 70%;
    padding: 1rem;
    text-align: center;
  }
  .nav-bar {
    flex-direction: row;
  }
  .main-content {
    margin-top: 300px;
  }
}

@media (min-width: 992px) {
  .home-icon {
    flex: 50%;
  }
  .links {
    flex: 50%;
  }
}
