.newsletters {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/sky-image.jpg);
    flex-direction: column;
    /* margin: 5rem 0 5rem; */
    padding: 1rem;
}

.newsletters p {
    width: 80%;
    margin-bottom: 2rem;
}

.newsletters h2 {
    text-align: center;
}

.subscribe {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#input-email {
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.5rem;
    display: flex;
    margin-bottom: 1rem;
}

#subscribe-btn {
    border: 1px solid white;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: white;
    color: rgb(63, 173, 63);
    align-items: center;
}

#subscribe-btn:hover {
    background-color: rgb(63, 173, 63);
    color:white;
}

@media (min-width: 576px) {
    .subscribe {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #input-email {
        border: 1px solid white;
        border-radius: 2rem;
        padding: 0.5rem;
        display: flex;
        margin-right: 1rem;
        width: 50%;
    }

    #input-email {
        margin-top: 1rem;
        border: 1px solid white;
        border-radius: 2rem;
        padding: 0.5rem;
        margin-right: 1rem;
        display: flex;
    
    }

    .newsletters p {
        width: 50%;
    }

    #subscribe-btn {
        display: inline;
        align-items: baseline;
        text-align: center;
    }
}
