.newsletters {
  align-items: center;
  background-image: url(../assets/sky-image.jpg);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
#heading-newsletters {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
.newsletters p {
  margin-bottom: 15px;
  width: 80%;
}
.newsletters h2 {
  text-align: center;
}
.subscribe {
  display: flex;
  flex-direction: column;
  width: 80%;
}
#input-email {
  border: 1px solid white;
  border-radius: 2rem;
  display: flex;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
#subscribe-btn {
  align-items: center;
  background-color: white;
  border: 1px solid white;
  border-radius: 1rem;
  color: #3fad3f;
  padding: 0.5rem;
}
#subscribe-btn:hover {
  background-color: #3fad3f;
  color: white;
}

@media (min-width: 576px) {
  .subscribe {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  #input-email {
    border: 1px solid white;
    border-radius: 2rem;
    display: flex;
    margin-right: 5px;
    padding: 0.5rem;
    width: 50%;
  }
  #input-email {
    border: 1px solid white;
    border-radius: 2rem;
    display: flex;
    margin: 5px 5px 0 0;
    padding: 0.5rem;
  }
  .newsletters p {
    width: 50%;
  }
  #subscribe-btn {
    align-items: baseline;
    display: inline;
    text-align: center;
  }
}
