/* PROJECTS */
#projects {
  margin-bottom: 25px;
}
#project-heading {
  color: #3fad3f;
  font-weight: 500;
  margin-left: 10px;
}
.project-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  text-align: center;
}
.project-list {
  display: flex;
  flex: 20%;
  flex-direction: column;
  margin-bottom: 15px;
}
#list-of-projects {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 15px;
  text-decoration: none;
}
#list-of-projects li {
  margin-left: 5px;
  padding-bottom: 2rem;
}
#list-of-projects li:hover {
  color: green;
}
.project-photos {
  align-items: center;
  display: flex;
  flex: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}
.project-photos img {
  border: 1px solid black;
  height: 200px;
  margin: 25px;
  text-align: center;
  width: 240px;
}

@media (min-width: 768px) {
  .project-content {
    flex-direction: row;
  }

  .project-content {
    text-align: left;
  }
}
